# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# model binaries
examples/bench/bench
examples/boa/boa
examples/ra25/ra25

# benchmarking output
examples/bench/bench_*.csv

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# mac thing
.DS_Store

# No GoLand files
/.idea/*

# VSCode
.vscode/

# pprof files
*.prof
*.pprof

/vendor/*

# Bazel
/bazel-*
