---
name: Build

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - "master"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get install libgl1-mesa-dev xorg-dev
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - run: go build ./...
      - run: go test ./...
