---
name: Build

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - "master"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get install libgl1-mesa-dev xorg-dev mesa-vulkan-drivers
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - run: go build ./...
      - run: go test -short -race ./...

  test-bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get install libgl1-mesa-dev xorg-dev mesa-vulkan-drivers
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: benchmark
        run: go test -short -bench=. ./...

  test-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get install libgl1-mesa-dev xorg-dev mesa-vulkan-drivers
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: Generate coverage report
        run: go test -short ./... -coverprofile=coverage.txt -covermode=atomic -timeout=20m
      - name: Upload coverage report
        uses: codecov/codecov-action@v3
