---
name: Build

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - "master"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: apt-get
        run: |
          sudo apt-get update
          sudo apt-get install libgl1-mesa-dev xorg-dev
      - uses: actions/setup-go@v3
        with:
          go-version: "1.18"
      - name: load SSH keys
        # To access private Git repos over SSH.
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: |
            ${{ secrets.OBELISK }}

      - name: git config
        run: git config --global url.git@github.com:Astera-org.insteadOf https://github.com/Astera-org
      - run: go build ./...
      - run: go test ./...

      - name: Generate coverage report
        run: go test -race ./... -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
